@import "_common";

.top {
  opacity: 0;
  transform: translate(0, -20px);
}
.left {
  opacity: 0;
  transform: translate(-20px, 0);
}
.execution {
  opacity: 1;
  transform: translate(0, 0);
}

section {
  padding: 5rem 0;

  > .container {
    width: 1000px;
    margin: 0 auto;

    @media #{$mobile} {
      width: 100vw;
    }

    h5 {
      color: #927e6a;
      font-size: 1.2rem;
      margin-bottom: 50px;
      transition: ease-in-out 0.5s;

      @extend .left;

      &::after {
        content: "";
        display: block;
        width: 10px;
        margin-top: 10px;
        border-bottom: 3px solid #927e6a;

        @media #{$mobile} {
          margin: 10px auto 0;
        }
      }
    }

    p {
      margin-bottom: 10px;

      color: #635749;
      font-size: 1.3rem;
      font-weight: 500;
      line-height: 2rem;
    }
  }
}

section.main {
  height: 700px;
  background-image: url(./../images/main_back.png);
  background-repeat: no-repeat;
  background-size: cover;

  @media #{$mobile} {
    height: 100vh;
    padding: 0;
    background-size: 750%;
    background-image: url(./../images/main_back_mo.png);
    background-size: 100%;
  }

  &.active {
    .container {
      > h2 {
        @extend .execution;
      }
      > .gnb > li {
        @extend .execution;

        &:nth-of-type(1) {
          transition: ease-in-out 0.5s 0.5s;
        }
        &:nth-of-type(2) {
          transition: ease-in-out 0.5s 0.7s;
        }
        &:nth-of-type(3) {
          transition: ease-in-out 0.5s 1s;
        }
      }
    }
  }

  > .container {
    h2 {
      padding: 25rem 0 5rem;

      font-size: 6rem;
      text-align: center;
      transition: ease-in-out 0.5s 0.2s;

      @extend .top;

      @media #{$mobile} {
        padding: 18rem 0 5rem;
        font-size: 4rem;
        font-weight: 800;
      }
    }
    > .gnb {
      display: flex;
      justify-content: space-between;

      width: 450px;
      margin: 0 auto;

      @media #{$mobile} {
        flex-direction: column;
        width: 100vw;
      }

      > li {
        @extend .left;

        @media #{$mobile} {
          margin-bottom: 15px;
        }

        > a {
          display: block;
          width: 130px;
          height: 30px;

          color: #927e6a;
          font-size: 1.2rem;
          text-align: center;
          font-weight: 600;
          line-height: 30px;
          border: 1.5px solid #927e6a;
          border-radius: 5rem;
          box-sizing: border-box;

          transition: all 0.5s;

          &:hover {
            color: #fff;
            font-size: 600;

            background-color: #758c72;
            border: none;
          }

          @media #{$mobile} {
            margin: 0 auto;
          }
        }
        &:nth-of-type(3) {
          > a:hover {
            background-color: #c35454;
          }
        }
      }
    }
  }
}

section.aboutme {
  padding: 13rem 0;
  background-color: #e0d0bd;

  &.active {
    > .container {
      > .interview {
        opacity: 1;
        > h5 {
          @extend .execution;
        }
        > div {
          @extend .execution;
        }
      }

      > .skill {
        opacity: 1;
        @extend .execution;

        > h5 {
          @extend .execution;
        }

        > div.design {
          > h3 {
            @extend .execution;
          }
          > ul {
            > li {
              @extend .execution;
              &:nth-of-type(1) {
                transition: ease-in-out 0.5s 1s;

                span:after {
                  left: 0;
                  width: 90%;
                  transition: ease-in-out 1.5s 1s;
                }
              }
              &:nth-of-type(2) {
                transition: ease-in-out 0.5s 1.2s;

                span:after {
                  left: 0;
                  transition: ease-in-out 1.5s 1.2s;
                }
              }
              &:nth-of-type(3) {
                transition: ease-in-out 0.5s 1.4s;

                span:after {
                  left: 0;
                  transition: ease-in-out 1.5s 1.4s;
                }
              }
            }
          }
          > .can {
            @extend .execution;
            transition: ease-in-out 0.5s 2.2s;
          }
        }

        > div.codding {
          > h3 {
            @extend .execution;
            transition: ease-in-out 0.5s 2.5s;
          }
          > ul {
            > li {
              @extend .execution;
              &:nth-of-type(1) {
                transition: ease-in-out 0.5s 2.5s;

                span:after {
                  left: 0;
                  width: 85%;
                  transition: ease-in-out 1.5s 2.5s;
                }
              }
              &:nth-of-type(2) {
                transition: ease-in-out 0.5s 2.7s;

                span:after {
                  left: 0;
                  width: 85%;
                  transition: ease-in-out 1.5s 2.7s;
                }
              }
              &:nth-of-type(3) {
                transition: ease-in-out 0.5s 2.9s;

                span:after {
                  left: 0;
                  width: 75%;
                  transition: ease-in-out 1.5s 2.9s;
                }
              }
            }
          }
        }
      }
    }
  }

  > .container {
    display: flex;
    justify-content: space-between;

    @media #{$mobile} {
      flex-direction: column;
      padding: 0 30px;
      box-sizing: border-box;

      text-align: center;
    }

    > .interview {
      width: 30%;
      opacity: 0;
      transition: ease-in-out 0.5s;

      @media #{$mobile} {
        width: 100%;
      }

      > h5 {
        @extend .left;
      }
      > div {
        @extend .left;
        transition: ease-in-out 0.5s 0.5s;
      }
    }

    > .skill {
      width: 70%;

      @extend .left;
      transition: ease-in-out 0.5s 0.8s;

      @media #{$mobile} {
        width: 100%;
        margin-top: 100px;
      }

      > h5 {
        @extend .left;
      }
      > div {
        @media #{$mobile} {
          width: 100%;
        }

        > h3 {
          margin-bottom: 30px;

          color: #635749;
          font-size: 1.7rem;
          line-height: 25px;
          font-weight: 800;

          @extend .left;

          @media #{$mobile} {
            width: 90%;
            margin: 0 auto;
            border-bottom: 1px solid #635749;
          }
        }

        ul {
          display: flex;
          justify-content: space-between;
          margin: 2rem 0;

          @media #{$mobile} {
            flex-direction: column;
            margin: 0 20px;
          }

          li {
            width: calc(100% / 3 - 30px);

            @extend .left;

            @media #{$mobile} {
              margin: 1.5rem auto;
              width: 100%;
            }

            > div {
              @media #{$mobile} {
                margin-top: 20px;
              }
              > p {
                margin-bottom: 7px;

                color: #496b60;
                font-size: 1.2rem;
                font-weight: 800;
              }

              > span {
                position: relative;
                display: block;
                width: 100%;
                height: 10px;
                overflow: hidden;

                background-color: #fff;
                border-radius: 3rem;

                &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  top: 0;
                  left: -100%;

                  width: 95%;
                  height: 10px;

                  background-color: #496b60;
                  border-radius: 3rem;

                  // transition: ease-in-out 2s 3s;

                  // animation: bar ease-in-out 5s forwards;

                  @keyframes bar {
                    0% {
                      left: -100%;
                    }
                    100% {
                      left: 0%;
                    }
                  }
                }
              }
            }
          }
        }

        &.design {
          > ul > li > div > span {
            .p:after {
              width: 90%;
            }
          }

          > div.can {
            margin: 40px 0 20px;
            border-top: 1px dotted #927e6a;
            width: 100%;

            @extend .top;

            @media #{$mobile} {
              margin: 40px 15px 0;
              width: 90%;
            }

            > div {
              display: flex;
              justify-content: space-between;
              margin-top: 20px;

              @media #{$mobile} {
                flex-direction: column;
                margin-top: 0;
                &:nth-of-type(1) {
                  margin-top: 30px;
                }
                &:nth-of-type(2) {
                  margin-top: 30px;
                }
              }
              > h6 {
                width: 15%;
                height: 25px;

                color: #fff;
                line-height: 25px;
                text-align: center;

                background-color: #927e6a;
                border-radius: 5rem;

                @media #{$mobile} {
                  width: 50%;
                  margin: 0 auto;
                }
              }
              > ol {
                display: flex;
                justify-content: start;
                flex-wrap: wrap;
                width: 80%;

                @media #{$mobile} {
                  width: 100%;
                  margin-top: 20px;
                  justify-content: space-evenly;
                }

                li {
                  width: 100px;
                  height: 25px;
                  margin: 0 10px 15px 0;

                  color: #927e6a;
                  line-height: 25px;
                  text-align: center;
                  font-weight: 600;

                  border: 1px solid #927e6a;
                  border-radius: 5rem;

                  box-sizing: border-box;

                  @media #{$mobile} {
                    width: calc(100% / 3 - 20px);
                    margin-right: 0;
                  }
                }
              }
            }
          }
        }

        &.codding {
          margin-top: 13rem;

          > ul > li > div > span {
            span.cd :after {
              content: "";
              display: block;
              width: 80%;
            }

            &.s {
              &:after {
                width: 75%;
              }
            }
            &.j {
              &:after {
                width: 70%;
              }
            }
          }
        }
      }
    }
  }
}

section.portfolio {
  padding: 13rem 0;
  background-image: url(./../images/port_back.png);

  &.active {
    > .container {
      > h5 {
        @extend .execution;
      }
      > div {
        > .btn > p {
          @extend .execution;

          &:nth-of-type(1) {
            transition: ease-in-out 0.5s 1s;
          }
          &:nth-of-type(2) {
            transition: ease-in-out 0.5s 1.2s;
          }
        }

        > .content {
          > ol.slideContainer {
            > li {
              &:nth-of-type(1) {
                @extend .execution;
                transition: ease-in-out 0.5s 1s;
              }
              &:nth-of-type(2) {
                @extend .execution;
                transition: ease-in-out 0.5s 1.2s;
              }
              &:nth-of-type(3) {
                @extend .execution;
                transition: ease-in-out 0.5s 1.4s;
              }
              &:nth-of-type(4) {
                @extend .execution;
                transition: ease-in-out 0.5s 1.6s;
              }
              &:nth-of-type(5) {
                @extend .execution;
                transition: ease-in-out 0.5s 1.8s;
              }
              &:nth-of-type(6) {
                @extend .execution;
                transition: ease-in-out 0.5s 2s;
              }
              &:nth-of-type(7) {
                @extend .execution;
                transition: ease-in-out 0.5s 2.2s;
              }
              &:nth-of-type(8) {
                @extend .execution;
                transition: ease-in-out 0.5s 2.4s;
              }
              &:nth-of-type(9) {
                @extend .execution;
                transition: ease-in-out 0.5s 2.6s;
              }
            }
          }
        }
      }
    }
  }
  > .container {
    > h5 {
      @media #{$mobile} {
        text-align: center;
      }
    }
    > div {
      display: flex;
      justify-content: space-between;

      @media #{$mobile} {
        flex-direction: column;
      }
      > .btn {
        width: 20%;

        @media #{$mobile} {
          order: 2;
          width: 100%;

          display: flex;
          justify-content: center;
        }
        > p {
          width: 120px;
          height: 25px;

          font-size: 1.2rem;
          text-align: center;
          line-height: 25px;
          font-weight: 600;

          @extend .top;

          &:nth-of-type(2) {
            margin-top: 20px;
          }

          @media #{$mobile} {
            margin-top: 20px;
            &:nth-of-type(1) {
              margin-right: 20px;
            }
          }
          > a {
            display: block;

            width: 120px;

            color: #758c72;

            border: 1.5px solid #758c72;
            border-radius: 5rem;
            box-sizing: border-box;
            transition: all 0.5s;

            &:hover {
              color: #fff;
              background-color: #758c72;
            }
          }
        }
      }

      > .content {
        width: 70%;

        @media #{$mobile} {
          order: 1;
        }

        > ol.slideContainer {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          @media #{$mobile} {
            flex-wrap: nowrap;
            width: calc(100vw * 9);
            margin: 0 auto;

            .transforming {
              transition: ease-in-out 0.5s;
            }
          }

          > li {
            @extend .top;
            > a {
              display: block;
              position: relative;

              width: 220px;
              height: 220px;
              margin-bottom: 20px;

              background-color: #fff;

              overflow: hidden;

              @media #{$mobile} {
                width: 100vw;
                height: 400px;
              }

              > div {
                position: relative;
                transform: translate(0, -100%);

                width: 220px;
                height: 220px;
                background-color: rgba(61, 61, 61, 0.753);
                transition: all 0.7s;

                &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  top: 10px;
                  left: 10px;

                  width: 200px;
                  height: 200px;
                  border: 1px solid #fff;

                  color: #fff;
                  font-size: 1.5rem;
                  text-align: center;
                  line-height: 220px;

                  opacity: 0;

                  transition: all 0.5s 0.6s;
                }

                > h4 {
                  opacity: 0;
                  color: #fff;
                  font-size: 1.5rem;
                  font-weight: 700;
                  text-align: center;
                  line-height: 220px;

                  transition: all 0.5s 0.6s;
                }
              }

              &:hover {
                &::before {
                  transform: translate(0, 0);
                }
                > div {
                  transform: translate(0, 0);
                  &:after {
                    opacity: 1;
                  }
                  > h4 {
                    opacity: 1;
                  }
                }
              }
            }

            &:nth-of-type(1) {
              > a {
                background-image: url(./../images/백일우_썸네일.jpg);
                background-size: 200%;
                background-position: center center;
              }
            }
            &:nth-of-type(2) {
              > a {
                background-image: url(./../images/주민기획_썸네일.jpg);
                background-size: 150%;
                background-position: center center;
              }
            }
            &:nth-of-type(3) {
              > a {
                background-image: url(./../images/펍지_썸네일.jpg);
                background-size: 140%;
                background-position: center center;
              }
            }
            &:nth-of-type(4) {
              > a {
                background-image: url(./../images/위드랜드_썸네일.jpg);
                background-size: 155%;
                background-position: center center;
              }
            }
            &:nth-of-type(5) {
              > a {
                background-image: url(./../images/행정심판_썸네일.jpg);
                background-size: 175%;
                background-position: center center;
              }
            }
            &:nth-of-type(6) {
              > a {
                background-image: url(./../images/글로벌매거진_썸네일.jpg);
                background-size: 210%;
                background-position: center -90px;
              }
            }
            &:nth-of-type(7) {
              > a {
                background-image: url(./../images/트래블_썸네일.jpg);
                background-size: 125%;
                background-position: center center;
              }
            }
            &:nth-of-type(8) {
              > a {
                background-image: url(./../images/웹이벤트_썸네일.jpg);
                background-size: cover;
                background-position: center center;
              }
            }
          }
        }
      }
    }
  }
}

section#contact {
  &.active {
    > .container {
      > h5 {
        @extend .execution;
      }

      > div {
        > .content {
          > p {
            @extend .execution;
            transition: ease-in-out 0.5s 0.7s;
          }
          > h2 {
            @extend .execution;
            transition: ease-in-out 0.5s 1s;
          }

          > .ct_btn {
            > p {
              @extend .execution;

              &:nth-of-type(1) {
                transition: ease-in-out 0.5s 1.5s;
              }
              &:nth-of-type(2) {
                transition: ease-in-out 0.5s 1.7s;
              }
              &:nth-of-type(3) {
                transition: ease-in-out 0.5s 1.9s;
              }
            }
          }
        }

        > .visual {
          @extend .execution;
          transition: ease-in-out 0.5s 0.3s;
        }
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;

    @media #{$mobile} {
      flex-direction: column;
    }

    > h5 {
      color: #ffd900;
      &::after {
        border-bottom: 3px solid #ffd900;
      }

      @media #{$mobile} {
        text-align: center;
      }
    }

    > div {
      display: flex;
      justify-content: space-between;
      width: 70%;

      @media #{$mobile} {
        flex-direction: column;
        width: 100%;
        text-align: center;
      }

      > .content {
        width: 50%;
        color: #fff;

        @media #{$mobile} {
          width: 100%;
          order: 2;
        }

        > p {
          margin-bottom: 0;
          color: #fff;
          font-size: 1rem;
          line-height: 2.5rem;
          @extend .top;
        }
        > h2 {
          font-size: 2.8rem;
          @extend .top;
        }

        > .ct_btn {
          margin-top: 40px;

          @media #{$mobile} {
            width: 70%;
            margin: 20px auto 0;
          }
          > p {
            display: flex;
            justify-content: start;
            margin-bottom: 10px;

            color: #ffd900;
            font-size: 1.2rem;
            font-weight: 800;
            line-height: 30px;
            @extend .left;

            &:nth-of-type(3) {
              > a {
                margin-left: 10px;
                &:nth-of-type(1) {
                  margin-right: 15px;
                }
              }
            }

            > a {
              display: block;

              height: 30px;
              padding: 0 10px;
              margin-left: 25px;

              color: #fff;
              font-size: 1.3rem;
              font-weight: 600;
              text-align: center;
              line-height: 30px;

              // border: 1px solid #fff;
              border-radius: 5rem;

              box-sizing: border-box;

              &:hover {
                background-color: #496b60;
                // border: 1px solid #314e45;
              }
            }
          }
        }
      }

      > .visual {
        width: 45%;
        height: 250px;
        background-image: url(./../images/main.png);
        background-size: 80%;
        background-position: center -2rem;
        background-repeat: no-repeat;

        @extend .top;

        @media #{$mobile} {
          width: 60%;
          height: 200px;
          margin: 0 auto;
          order: 1;
        }
      }
    }
  }
  background-color: #758c72;
}
