@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

#wrap {
  display: grid;
  grid-template: repeat(3, auto)/1fr;
  width: 100vw;
  background-color: #eedeca;
  overflow-x: hidden;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#wrap::-webkit-scrollbar {
  display: none;
}

header {
  position: fixed;
  z-index: 900;
  width: 100vw;
  height: 50px;
  transition: all 0.5s;
}

header.sticky > .hd_bg {
  opacity: 1;
  height: 50px;
}

header.sticky > .hd_content {
  top: 0;
  left: calc(50% - 60px);
}

header.sticky > .hd_content > h1 > a.logo {
  width: 80px;
}

header > .hd_bg {
  opacity: 0;
  position: relative;
  width: 100vw;
  height: 70px;
  background-color: #e0d0bd;
  box-shadow: #927e6a 0 0 5px;
}

header > .hd_content {
  position: absolute;
  top: 20px;
  left: calc(50% - 50px);
}

@media screen and (max-width: 768px) {
  header > .hd_content {
    margin: 0 20px;
    left: calc(50% - 60px);
  }
}

header > .hd_content > h1 > a.logo {
  display: block;
  width: 100px;
  height: 50px;
  margin: 0 auto;
  text-indent: -9999px;
  background-image: url(./../images/s_logo_b.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.5s;
}

header > .hd_content .total {
  position: relative;
  width: 25px;
  height: 25px;
  margin-top: 3px;
}

header > .hd_content .total span {
  display: block;
  position: absolute;
  top: calc(50% - 1.5px);
  left: 0;
  z-index: 9999;
  width: 25px;
  height: 3px;
  text-indent: -9999px;
  background-color: #222;
  border-radius: 5rem;
  transition: all 0.3s;
}

header > .hd_content .total span:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: #222;
  border-radius: 5rem;
  transition: all 0.3s;
}

header > .hd_content .total span:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 25px;
  height: 3px;
  background-color: #222;
  border-radius: 5rem;
  transition: all 0.3s;
}

header > .hd_content .total.active span {
  background-color: rgba(150, 150, 150, 0);
}

header > .hd_content .total.active span:before, header > .hd_content .total.active span:after {
  top: 0;
  background-color: #222;
}

header > .hd_content .total.active span:before {
  transform: rotate(45deg);
}

header > .hd_content .total.active span:after {
  transform: rotate(-45deg);
}

footer {
  width: 100vw;
  height: 50px;
  text-align: center;
  margin-top: 30px;
}

footer .ft_wrap {
  max-width: 1000px;
  margin: 0 auto;
  color: #fff;
  font-size: 1rem;
}

footer .ft_wrap > h2 > a {
  display: block;
  width: 100px;
  height: 50px;
  text-indent: -9999px;
  background-image: url(./../images/s_logo_w.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

footer .ft_wrap > address {
  padding: 10px 0;
  color: #927e6a;
  font-size: 1.2rem;
  font-weight: 600;
}

footer .ft_wrap > p > a {
  display: block;
  width: 130px;
  margin: 0 auto 20px;
  color: #fff;
  font-size: 1.3rem;
  line-height: 30px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 5rem;
  box-sizing: border-box;
  transition: all 0.5s;
}

footer .ft_wrap > p > a:hover {
  font-weight: 800;
  background-color: #e61f77;
  border: 1px solid #e61f77;
}

.top, section.main > .container h2, section.aboutme > .container > .skill > div.design > div.can, section.portfolio > .container > div > .btn > p, section.portfolio > .container > div > .content > ol > li, section#contact .container > div > .content > p, section#contact .container > div > .content > h2, section#contact .container > div > .visual {
  opacity: 0;
  transform: translate(0, -20px);
}

.left, section > .container h5, section.main > .container > .gnb > li, section.aboutme > .container > .interview > h5, section.aboutme > .container > .interview > div, section.aboutme > .container > .skill, section.aboutme > .container > .skill > h5, section.aboutme > .container > .skill > div > h3, section.aboutme > .container > .skill > div ul li, section#contact .container > div > .content > .ct_btn > p {
  opacity: 0;
  transform: translate(-20px, 0);
}

.execution, section.main.active .container > h2, section.main.active .container > .gnb > li, section.aboutme.active > .container > .interview > h5, section.aboutme.active > .container > .interview > div, section.aboutme.active > .container > .skill, section.aboutme.active > .container > .skill > h5, section.aboutme.active > .container > .skill > div.design > h3, section.aboutme.active > .container > .skill > div.design > ul > li, section.aboutme.active > .container > .skill > div.design > .can, section.aboutme.active > .container > .skill > div.codding > h3, section.aboutme.active > .container > .skill > div.codding > ul > li, section.portfolio.active > .container > h5, section.portfolio.active > .container > div > .btn > p, section.portfolio.active > .container > div > .content > ol > li:nth-of-type(1), section.portfolio.active > .container > div > .content > ol > li:nth-of-type(2), section.portfolio.active > .container > div > .content > ol > li:nth-of-type(3), section.portfolio.active > .container > div > .content > ol > li:nth-of-type(4), section.portfolio.active > .container > div > .content > ol > li:nth-of-type(5), section.portfolio.active > .container > div > .content > ol > li:nth-of-type(6), section.portfolio.active > .container > div > .content > ol > li:nth-of-type(7), section.portfolio.active > .container > div > .content > ol > li:nth-of-type(8), section.portfolio.active > .container > div > .content > ol > li:nth-of-type(9), section#contact.active > .container > h5, section#contact.active > .container > div > .content > p, section#contact.active > .container > div > .content > h2, section#contact.active > .container > div > .content > .ct_btn > p, section#contact.active > .container > div > .visual {
  opacity: 1;
  transform: translate(0, 0);
}

section {
  padding: 5rem 0;
}

section > .container {
  width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  section > .container {
    width: 100vw;
  }
}

section > .container h5 {
  color: #927e6a;
  font-size: 1.2rem;
  margin-bottom: 50px;
  transition: ease-in-out 0.5s;
}

section > .container h5::after {
  content: "";
  display: block;
  width: 10px;
  margin-top: 10px;
  border-bottom: 3px solid #927e6a;
}

@media screen and (max-width: 768px) {
  section > .container h5::after {
    margin: 10px auto 0;
  }
}

section > .container p {
  margin-bottom: 10px;
  color: #635749;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
}

section.main {
  height: 700px;
  background-image: url(./../images/main_back.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  section.main {
    height: 100vh;
    padding: 0;
    background-size: 750%;
    background-image: url(./../images/main_back_mo.png);
    background-size: 100%;
  }
}

section.main.active .container > .gnb > li:nth-of-type(1) {
  transition: ease-in-out 0.5s 0.5s;
}

section.main.active .container > .gnb > li:nth-of-type(2) {
  transition: ease-in-out 0.5s 0.7s;
}

section.main.active .container > .gnb > li:nth-of-type(3) {
  transition: ease-in-out 0.5s 1s;
}

section.main > .container h2 {
  padding: 25rem 0 5rem;
  font-size: 6rem;
  text-align: center;
  transition: ease-in-out 0.5s 0.2s;
}

@media screen and (max-width: 768px) {
  section.main > .container h2 {
    padding: 18rem 0 5rem;
    font-size: 4rem;
    font-weight: 800;
  }
}

section.main > .container > .gnb {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  section.main > .container > .gnb {
    flex-direction: column;
    width: 100vw;
  }
}

@media screen and (max-width: 768px) {
  section.main > .container > .gnb > li {
    margin-bottom: 15px;
  }
}

section.main > .container > .gnb > li > a {
  display: block;
  width: 130px;
  height: 30px;
  color: #927e6a;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 600;
  line-height: 30px;
  border: 1.5px solid #927e6a;
  border-radius: 5rem;
  box-sizing: border-box;
  transition: all 0.5s;
}

section.main > .container > .gnb > li > a:hover {
  color: #fff;
  font-size: 600;
  background-color: #758c72;
  border: none;
}

@media screen and (max-width: 768px) {
  section.main > .container > .gnb > li > a {
    margin: 0 auto;
  }
}

section.main > .container > .gnb > li:nth-of-type(3) > a:hover {
  background-color: #c35454;
}

section.aboutme {
  padding: 13rem 0;
  background-color: #e0d0bd;
}

section.aboutme.active > .container > .interview {
  opacity: 1;
}

section.aboutme.active > .container > .skill {
  opacity: 1;
}

section.aboutme.active > .container > .skill > div.design > ul > li:nth-of-type(1) {
  transition: ease-in-out 0.5s 1s;
}

section.aboutme.active > .container > .skill > div.design > ul > li:nth-of-type(1) span:after {
  left: 0;
  width: 90%;
  transition: ease-in-out 1.5s 1s;
}

section.aboutme.active > .container > .skill > div.design > ul > li:nth-of-type(2) {
  transition: ease-in-out 0.5s 1.2s;
}

section.aboutme.active > .container > .skill > div.design > ul > li:nth-of-type(2) span:after {
  left: 0;
  transition: ease-in-out 1.5s 1.2s;
}

section.aboutme.active > .container > .skill > div.design > ul > li:nth-of-type(3) {
  transition: ease-in-out 0.5s 1.4s;
}

section.aboutme.active > .container > .skill > div.design > ul > li:nth-of-type(3) span:after {
  left: 0;
  transition: ease-in-out 1.5s 1.4s;
}

section.aboutme.active > .container > .skill > div.design > .can {
  transition: ease-in-out 0.5s 2.2s;
}

section.aboutme.active > .container > .skill > div.codding > h3 {
  transition: ease-in-out 0.5s 2.5s;
}

section.aboutme.active > .container > .skill > div.codding > ul > li:nth-of-type(1) {
  transition: ease-in-out 0.5s 2.5s;
}

section.aboutme.active > .container > .skill > div.codding > ul > li:nth-of-type(1) span:after {
  left: 0;
  width: 85%;
  transition: ease-in-out 1.5s 2.5s;
}

section.aboutme.active > .container > .skill > div.codding > ul > li:nth-of-type(2) {
  transition: ease-in-out 0.5s 2.7s;
}

section.aboutme.active > .container > .skill > div.codding > ul > li:nth-of-type(2) span:after {
  left: 0;
  width: 85%;
  transition: ease-in-out 1.5s 2.7s;
}

section.aboutme.active > .container > .skill > div.codding > ul > li:nth-of-type(3) {
  transition: ease-in-out 0.5s 2.9s;
}

section.aboutme.active > .container > .skill > div.codding > ul > li:nth-of-type(3) span:after {
  left: 0;
  width: 75%;
  transition: ease-in-out 1.5s 2.9s;
}

section.aboutme > .container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  section.aboutme > .container {
    flex-direction: column;
    padding: 0 30px;
    box-sizing: border-box;
    text-align: center;
  }
}

section.aboutme > .container > .interview {
  width: 30%;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

@media screen and (max-width: 768px) {
  section.aboutme > .container > .interview {
    width: 100%;
  }
}

section.aboutme > .container > .interview > div {
  transition: ease-in-out 0.5s 0.5s;
}

section.aboutme > .container > .skill {
  width: 70%;
  transition: ease-in-out 0.5s 0.8s;
}

@media screen and (max-width: 768px) {
  section.aboutme > .container > .skill {
    width: 100%;
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  section.aboutme > .container > .skill > div {
    width: 100%;
  }
}

section.aboutme > .container > .skill > div > h3 {
  margin-bottom: 30px;
  color: #635749;
  font-size: 1.7rem;
  line-height: 25px;
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  section.aboutme > .container > .skill > div > h3 {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #635749;
  }
}

section.aboutme > .container > .skill > div ul {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

@media screen and (max-width: 768px) {
  section.aboutme > .container > .skill > div ul {
    flex-direction: column;
    margin: 0 20px;
  }
}

section.aboutme > .container > .skill > div ul li {
  width: calc(100% / 3 - 30px);
}

@media screen and (max-width: 768px) {
  section.aboutme > .container > .skill > div ul li {
    margin: 1.5rem auto;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  section.aboutme > .container > .skill > div ul li > div {
    margin-top: 20px;
  }
}

section.aboutme > .container > .skill > div ul li > div > p {
  margin-bottom: 7px;
  color: #496b60;
  font-size: 1.2rem;
  font-weight: 800;
}

section.aboutme > .container > .skill > div ul li > div > span {
  position: relative;
  display: block;
  width: 100%;
  height: 10px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 3rem;
}

section.aboutme > .container > .skill > div ul li > div > span:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 95%;
  height: 10px;
  background-color: #496b60;
  border-radius: 3rem;
}

@keyframes bar {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

section.aboutme > .container > .skill > div.design > ul > li > div > span .p:after {
  width: 90%;
}

section.aboutme > .container > .skill > div.design > div.can {
  margin: 40px 0 20px;
  border-top: 1px dotted #927e6a;
  width: 100%;
}

@media screen and (max-width: 768px) {
  section.aboutme > .container > .skill > div.design > div.can {
    margin: 40px 15px 0;
    width: 90%;
  }
}

section.aboutme > .container > .skill > div.design > div.can > div {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  section.aboutme > .container > .skill > div.design > div.can > div {
    flex-direction: column;
    margin-top: 0;
  }
  section.aboutme > .container > .skill > div.design > div.can > div:nth-of-type(1) {
    margin-top: 30px;
  }
  section.aboutme > .container > .skill > div.design > div.can > div:nth-of-type(2) {
    margin-top: 30px;
  }
}

section.aboutme > .container > .skill > div.design > div.can > div > h6 {
  width: 15%;
  height: 25px;
  color: #fff;
  line-height: 25px;
  text-align: center;
  background-color: #927e6a;
  border-radius: 5rem;
}

@media screen and (max-width: 768px) {
  section.aboutme > .container > .skill > div.design > div.can > div > h6 {
    width: 50%;
    margin: 0 auto;
  }
}

section.aboutme > .container > .skill > div.design > div.can > div > ol {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: 80%;
}

@media screen and (max-width: 768px) {
  section.aboutme > .container > .skill > div.design > div.can > div > ol {
    width: 100%;
    margin-top: 20px;
    justify-content: space-evenly;
  }
}

section.aboutme > .container > .skill > div.design > div.can > div > ol li {
  width: 100px;
  height: 25px;
  margin: 0 10px 15px 0;
  color: #927e6a;
  line-height: 25px;
  text-align: center;
  font-weight: 600;
  border: 1px solid #927e6a;
  border-radius: 5rem;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  section.aboutme > .container > .skill > div.design > div.can > div > ol li {
    width: calc(100% / 3 - 20px);
    margin-right: 0;
  }
}

section.aboutme > .container > .skill > div.codding {
  margin-top: 13rem;
}

section.aboutme > .container > .skill > div.codding > ul > li > div > span span.cd :after {
  content: "";
  display: block;
  width: 80%;
}

section.aboutme > .container > .skill > div.codding > ul > li > div > span.s:after {
  width: 75%;
}

section.aboutme > .container > .skill > div.codding > ul > li > div > span.j:after {
  width: 70%;
}

section.portfolio {
  padding: 13rem 0;
  background-image: url(./../images/port_back.png);
}

section.portfolio.active > .container > div > .btn > p:nth-of-type(1) {
  transition: ease-in-out 0.5s 1s;
}

section.portfolio.active > .container > div > .btn > p:nth-of-type(2) {
  transition: ease-in-out 0.5s 1.2s;
}

section.portfolio.active > .container > div > .content > ol > li:nth-of-type(1) {
  transition: ease-in-out 0.5s 1s;
}

section.portfolio.active > .container > div > .content > ol > li:nth-of-type(2) {
  transition: ease-in-out 0.5s 1.2s;
}

section.portfolio.active > .container > div > .content > ol > li:nth-of-type(3) {
  transition: ease-in-out 0.5s 1.4s;
}

section.portfolio.active > .container > div > .content > ol > li:nth-of-type(4) {
  transition: ease-in-out 0.5s 1.6s;
}

section.portfolio.active > .container > div > .content > ol > li:nth-of-type(5) {
  transition: ease-in-out 0.5s 1.8s;
}

section.portfolio.active > .container > div > .content > ol > li:nth-of-type(6) {
  transition: ease-in-out 0.5s 2s;
}

section.portfolio.active > .container > div > .content > ol > li:nth-of-type(7) {
  transition: ease-in-out 0.5s 2.2s;
}

section.portfolio.active > .container > div > .content > ol > li:nth-of-type(8) {
  transition: ease-in-out 0.5s 2.4s;
}

section.portfolio.active > .container > div > .content > ol > li:nth-of-type(9) {
  transition: ease-in-out 0.5s 2.6s;
}

@media screen and (max-width: 768px) {
  section.portfolio > .container > h5 {
    text-align: center;
  }
}

section.portfolio > .container > div {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  section.portfolio > .container > div {
    flex-direction: column;
  }
}

section.portfolio > .container > div > .btn {
  width: 20%;
}

@media screen and (max-width: 768px) {
  section.portfolio > .container > div > .btn {
    order: 2;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

section.portfolio > .container > div > .btn > p {
  width: 120px;
  height: 25px;
  font-size: 1.2rem;
  text-align: center;
  line-height: 25px;
  font-weight: 600;
}

section.portfolio > .container > div > .btn > p:nth-of-type(2) {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  section.portfolio > .container > div > .btn > p {
    margin-top: 20px;
  }
  section.portfolio > .container > div > .btn > p:nth-of-type(1) {
    margin-right: 20px;
  }
}

section.portfolio > .container > div > .btn > p > a {
  display: block;
  width: 120px;
  color: #758c72;
  border: 1.5px solid #758c72;
  border-radius: 5rem;
  box-sizing: border-box;
  transition: all 0.5s;
}

section.portfolio > .container > div > .btn > p > a:hover {
  color: #fff;
  background-color: #758c72;
}

section.portfolio > .container > div > .content {
  width: 70%;
}

@media screen and (max-width: 768px) {
  section.portfolio > .container > div > .content {
    order: 1;
  }
}

section.portfolio > .container > div > .content > ol {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 768px) {
  section.portfolio > .container > div > .content > ol {
    flex-wrap: nowrap;
    width: 100vw;
    margin: 0 auto;
  }
}

section.portfolio > .container > div > .content > ol > li > a {
  display: block;
  position: relative;
  width: 220px;
  height: 220px;
  margin-bottom: 20px;
  background-color: #fff;
  overflow: hidden;
}

section.portfolio > .container > div > .content > ol > li > a > div {
  position: relative;
  transform: translate(0, -100%);
  width: 220px;
  height: 220px;
  background-color: rgba(61, 61, 61, 0.753);
  transition: all 0.7s;
}

section.portfolio > .container > div > .content > ol > li > a > div:after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  line-height: 220px;
  opacity: 0;
  transition: all 0.5s 0.6s;
}

section.portfolio > .container > div > .content > ol > li > a > div > h4 {
  opacity: 0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  line-height: 220px;
  transition: all 0.5s 0.6s;
}

section.portfolio > .container > div > .content > ol > li > a:hover::before {
  transform: translate(0, 0);
}

section.portfolio > .container > div > .content > ol > li > a:hover > div {
  transform: translate(0, 0);
}

section.portfolio > .container > div > .content > ol > li > a:hover > div:after {
  opacity: 1;
}

section.portfolio > .container > div > .content > ol > li > a:hover > div > h4 {
  opacity: 1;
}

section.portfolio > .container > div > .content > ol > li:nth-of-type(1) > a {
  background-image: url(./../images/백일우_썸네일.jpg);
  background-size: 200%;
  background-position: center center;
}

section.portfolio > .container > div > .content > ol > li:nth-of-type(2) > a {
  background-image: url(./../images/주민기획_썸네일.jpg);
  background-size: 150%;
  background-position: center center;
}

section.portfolio > .container > div > .content > ol > li:nth-of-type(3) > a {
  background-image: url(./../images/펍지_썸네일.jpg);
  background-size: 140%;
  background-position: center center;
}

section.portfolio > .container > div > .content > ol > li:nth-of-type(4) > a {
  background-image: url(./../images/위드랜드_썸네일.jpg);
  background-size: 155%;
  background-position: center center;
}

section.portfolio > .container > div > .content > ol > li:nth-of-type(5) > a {
  background-image: url(./../images/행정심판_썸네일.jpg);
  background-size: 175%;
  background-position: center center;
}

section.portfolio > .container > div > .content > ol > li:nth-of-type(6) > a {
  background-image: url(./../images/글로벌매거진_썸네일.jpg);
  background-size: 210%;
  background-position: center -90px;
}

section.portfolio > .container > div > .content > ol > li:nth-of-type(7) > a {
  background-image: url(./../images/트래블_썸네일.jpg);
  background-size: 125%;
  background-position: center center;
}

section.portfolio > .container > div > .content > ol > li:nth-of-type(8) > a {
  background-image: url(./../images/웹이벤트_썸네일.jpg);
  background-size: cover;
  background-position: center center;
}

section#contact {
  background-color: #758c72;
}

section#contact.active > .container > div > .content > p {
  transition: ease-in-out 0.5s 0.7s;
}

section#contact.active > .container > div > .content > h2 {
  transition: ease-in-out 0.5s 1s;
}

section#contact.active > .container > div > .content > .ct_btn > p:nth-of-type(1) {
  transition: ease-in-out 0.5s 1.5s;
}

section#contact.active > .container > div > .content > .ct_btn > p:nth-of-type(2) {
  transition: ease-in-out 0.5s 1.7s;
}

section#contact.active > .container > div > .content > .ct_btn > p:nth-of-type(3) {
  transition: ease-in-out 0.5s 1.9s;
}

section#contact.active > .container > div > .visual {
  transition: ease-in-out 0.5s 0.3s;
}

section#contact .container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  section#contact .container {
    flex-direction: column;
  }
}

section#contact .container > h5 {
  color: #ffd900;
}

section#contact .container > h5::after {
  border-bottom: 3px solid #ffd900;
}

@media screen and (max-width: 768px) {
  section#contact .container > h5 {
    text-align: center;
  }
}

section#contact .container > div {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

@media screen and (max-width: 768px) {
  section#contact .container > div {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
}

section#contact .container > div > .content {
  width: 50%;
  color: #fff;
}

@media screen and (max-width: 768px) {
  section#contact .container > div > .content {
    width: 100%;
    order: 2;
  }
}

section#contact .container > div > .content > p {
  margin-bottom: 0;
  color: #fff;
  font-size: 1rem;
  line-height: 2.5rem;
}

section#contact .container > div > .content > h2 {
  font-size: 2.8rem;
}

section#contact .container > div > .content > .ct_btn {
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  section#contact .container > div > .content > .ct_btn {
    width: 70%;
    margin: 20px auto 0;
  }
}

section#contact .container > div > .content > .ct_btn > p {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
  color: #ffd900;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 30px;
}

section#contact .container > div > .content > .ct_btn > p:nth-of-type(3) > a {
  margin-left: 10px;
}

section#contact .container > div > .content > .ct_btn > p:nth-of-type(3) > a:nth-of-type(1) {
  margin-right: 15px;
}

section#contact .container > div > .content > .ct_btn > p > a {
  display: block;
  height: 30px;
  padding: 0 10px;
  margin-left: 25px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  border-radius: 5rem;
  box-sizing: border-box;
}

section#contact .container > div > .content > .ct_btn > p > a:hover {
  background-color: #496b60;
}

section#contact .container > div > .visual {
  width: 45%;
  height: 250px;
  background-image: url(./../images/main.png);
  background-size: 80%;
  background-position: center -2rem;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  section#contact .container > div > .visual {
    width: 60%;
    height: 200px;
    margin: 0 auto;
    order: 1;
  }
}
