html {
  scroll-behavior: smooth;
}

#wrap {
  display: grid;
  grid-template: repeat(3, auto)/1fr;
  width: 100vw;
  background-color: #eedeca;
  overflow-x: hidden;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#wrap::-webkit-scrollbar {
  display: none;
}

header {
  position: fixed;
  z-index: 900;
  width: 100vw;
  height: 50px;
  transition: all 0.5s;
}

header.sticky > .hd_bg {
  opacity: 1;
  height: 50px;
}

header.sticky > .hd_content {
  top: 0;
  left: calc(50% - 60px);
}

header.sticky > .hd_content > h1 > a.logo {
  width: 80px;
}

header > .hd_bg {
  opacity: 0;
  position: relative;
  width: 100vw;
  height: 70px;
  background-color: #e0d0bd;
  box-shadow: #927e6a 0 0 5px;
}

header > .hd_content {
  position: absolute;
  top: 20px;
  left: calc(50% - 50px);
}

@media screen and (max-width: 768px) {
  header > .hd_content {
    margin: 0 20px;
    left: calc(50% - 60px);
  }
}

header > .hd_content > h1 > a.logo {
  display: block;
  width: 100px;
  height: 50px;
  margin: 0 auto;
  text-indent: -9999px;
  background-image: url(./../images/s_logo_b.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.5s;
}

footer {
  width: 100vw;
  height: 50px;
  text-align: center;
  margin-top: 30px;
}

footer .ft_wrap {
  max-width: 1000px;
  margin: 0 auto;
  color: #fff;
  font-size: 1rem;
}

footer .ft_wrap > h2 > a {
  display: block;
  width: 100px;
  height: 50px;
  text-indent: -9999px;
  background-image: url(./../images/s_logo_w.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

footer .ft_wrap > address {
  padding: 10px 0;
  color: #927e6a;
  font-size: 1.2rem;
  font-weight: 600;
}

footer .ft_wrap > p > a {
  display: block;
  width: 130px;
  margin: 0 auto 20px;
  color: #fff;
  font-size: 1.3rem;
  line-height: 30px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 5rem;
  box-sizing: border-box;
  transition: all 0.5s;
}

footer .ft_wrap > p > a:hover {
  font-weight: 800;
  background-color: #e61f77;
  border: 1px solid #e61f77;
}

.top {
  opacity: 0;
  transform: translate(0, -20px);
}

.left {
  opacity: 0;
  transform: translate(-20px, 0);
}

.execution {
  opacity: 1;
  transform: translate(0, 0);
}

#wrap {
  background-color: #fff;
}

header {
  position: fixed;
  height: 70px;
  background-color: #fff;
}

header > .hd_content {
  position: absolute;
  left: calc(50% - 500px);
  top: 10px;
  display: flex;
  justify-content: space-between;
  min-width: 1000px;
  margin: 0 auto;
}

header > .hd_content > nav > ol {
  display: flex;
  justify-content: space-between;
  width: 220px;
}

header > .hd_content > nav > ol > li > a {
  display: block;
  width: 100px;
  margin-top: 23px;
  color: #5c5c5c;
  font-weight: 600;
  text-align: center;
  line-height: 25px;
  border: 1px solid #5c5c5c;
  border-radius: 5rem;
  transition: ease-in-out 0.5s;
}

header > .hd_content > nav > ol > li > a:hover {
  color: #fff;
  background-color: #5c5c5c;
}

footer {
  height: 100px;
  margin: 0;
  background-color: #fff;
}

footer > .ft_wrap > address {
  padding: 0;
  color: #5c5c5c;
  line-height: 100px;
}

section.a {
  margin-top: 70px;
}

section.a > .container {
  width: 1000px;
  margin: 0 auto;
}

section.a > .container > .a_head > h3 {
  margin: 5rem 0 3rem;
  font-size: 3rem;
  text-align: center;
}

section.a > .container > .a_head > p {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

section.a > .container > ul {
  display: flex;
  justify-content: space-between;
  width: 430px;
  margin: 5rem auto 3rem;
}

section.a > .container > ul > li > a {
  display: block;
  width: 90px;
  text-align: center;
  line-height: 20px;
  border: 1px solid #5c5c5c;
  transition: ease-in-out 0.5s;
}

section.a > .container > ul > li > a:hover {
  color: #fff;
  font-weight: 600;
  background-color: #5c5c5c;
}

section.b {
  width: 1000px;
  margin: 2rem auto;
}

section.b > ol {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

section.b > ol > li > a {
  display: block;
  width: 140px;
  height: 140px;
  margin: 10px 10px;
  background-color: #000;
}

section.b > ol > li:nth-of-type(24) > a {
  display: block;
  font-size: 1.3rem;
  color: #fff;
  line-height: 140px;
  text-align: center;
  background-color: #5c5c5c;
}
